@import "~milligram/src/milligram.sass";
body {
  font-family: 'Open Sans', serif;
}
h1,h2,h3,h4,h5,h6 {
	font-family: "Rufina", serif;
}
input {
  margin-bottom: unset;
}
.error {
  color: red;
  display: none;
  margin-bottom: unset;
}
label {
  margin-top: 1.5rem;
}
.form-button {
  margin-top: 1.5rem;
}
.button-red.button-outline {
  background-color: transparent;
  color: red;
  border-color: red;
  padding: 0 1rem;
}
